*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.result {
  inline-size: 711px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  block-size: 100%;
}

.content__list-container {
  block-size: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container.custom-scrollbar {
  overflow: auto;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  min-inline-size: 194px;
  block-size: 103px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 200px;
  overflow: hidden;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-height: 100%;
  display: flex;
  line-clamp: 4;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
}

.search-form__textfield {
  appearance: none;
  inline-size: 225px;
  block-size: 27px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  inline-size: 20px;
  block-size: 20px;
  border: 1px solid #fff;
  padding: 1px;
  display: flex;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* общий стиль кнопок */
.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
}

/* hover / active / focus */
.button:hover {
  text-decoration: underline;
  background-color: #545050;
}

.button:active {
  color: rgb(255 255 255 / 0.6);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* кнопка "Найти" */
.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
}

/* кнопка "Показать ещё" */
.more-button {
  inline-size: 390px;
  block-size: 34px;
  align-self: flex-end;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item {
  padding-inline: 3px;
}

.button,
.search-form__label,
.content__card-link,
.more-button {
  cursor: pointer;
}

.result__video-container,
.content__list-container {
  position: relative;
}